<div class="accordion-container">
    <!-- <div class="example-action-buttons">
        <button mat-button (click)="accordion.openAll()">Mostra tutto</button>
        <button mat-button (click)="accordion.closeAll()">Nascondi tutto</button>
      </div>     -->
    <mat-accordion>
        <!-- Exchanges -->
        <mat-expansion-panel 
        (opened)="exchangesPanelOpenState = true"
        (closed)="exchangesPanelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Exchanges
            </mat-panel-title>
            <mat-panel-description *ngIf="!exchangesPanelOpenState">
              Piattaforme di scambio
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-grid-list cols="4" rowHeight="1:1">
            <mat-grid-tile [colspan]="1" [rowspan]="1" *ngFor="let card of exchangeCards">
              <mat-card class="dashboard-card">
                <mat-card-header class="mat-card-header-text">
                  <mat-card-title> 
                     {{card.title}}
                  </mat-card-title>
                </mat-card-header>
                <a href="{{card.href}}" target="_blank">
                  <img mat-card-imag class="center" src="{{card.img}}" alt="{{card.alt}}" />                
                </a>
              </mat-card>           
            </mat-grid-tile>                  
          </mat-grid-list>          
        </mat-expansion-panel>

        <!-- CeFi -->
        <mat-expansion-panel 
        (opened)="ceFiPanelOpenState = true"
        (closed)="ceFiPanelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              CeFi
            </mat-panel-title>
            <mat-panel-description *ngIf="!ceFiPanelOpenState">
              Piattaforme di Finanza Centralizzate
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-grid-list cols="4" rowHeight="1:1">
            <mat-grid-tile [colspan]="1" [rowspan]="1" *ngFor="let card of ceFiCards">
              <mat-card class="dashboard-card">
                <mat-card-header class="mat-card-header-text">
                  <mat-card-title> 
                     {{card.title}}
                  </mat-card-title>
                </mat-card-header>
                <a href="{{card.href}}" target="_blank">
                  <img mat-card-imag class="center" src="{{card.img}}" alt="{{card.alt}}" />                
                </a>
              </mat-card>           
            </mat-grid-tile>                  
          </mat-grid-list>
        </mat-expansion-panel>
        
        <!-- DeFi -->
        <mat-expansion-panel 
        (opened)="deFiPanelOpenState = true"
        (closed)="deFiPanelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              DeFi
            </mat-panel-title>
            <mat-panel-description *ngIf="!deFiPanelOpenState">
              Piattaforme di Finanza Decentralizzata
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-grid-list cols="4" rowHeight="1:1">
            <mat-grid-tile [colspan]="1" [rowspan]="1" *ngFor="let card of deFiCards">
              <mat-card class="dashboard-card">
                <mat-card-header class="mat-card-header-text">
                  <mat-card-title > 
                     <!-- <span matBadge="{{card.blockchain}}" >{{card.title}}</span> -->
                     {{card.blockchain}} : {{card.title}}
                  </mat-card-title>
                </mat-card-header>
                <a href="{{card.href}}" target="_blank">
                  <img mat-card-imag class="center" src="{{card.img}}" alt="{{card.alt}}" />                
                </a>
              </mat-card>           
            </mat-grid-tile>                  
          </mat-grid-list>
        </mat-expansion-panel>
        
        <!-- indicatori -->
        <mat-expansion-panel 
        (opened)="indicatorPanelOpenState = true"
        (closed)="indicatorPanelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Indicatori
            </mat-panel-title>
            <mat-panel-description *ngIf="!indicatorPanelOpenState">
              Statistiche ed indicatori generali
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-grid-list cols="2" rowHeight="1:1">
            <mat-grid-tile [colspan]="1" [rowspan]="1">
              <mat-card class="dashboard-card">
                <!-- <mat-card-header class="mat-card-header-text">
                  <mat-card-title> 
                     Indicatore Fear And Greed
                  </mat-card-title>
                </mat-card-header> -->
                <img mat-card-imag class="center" src="https://alternative.me/crypto/fear-and-greed-index.png" alt="Indice Crypto Fear & Greed" />                
                <mat-card-content class="dashboard-card-content">
                  <p style="text-align: center;">Indicatore Fear and Greed.</p>
                  <p>Analizza il sentimento del mercato crypto, fornendo un valore tra 0 e 100 che rappresentano i due
                    estremi tra Estrema Paura (Extreme Fear) e Estrema Avidità (Extreme Greed).
                  </p>
                </mat-card-content>
              </mat-card>           
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-card class="dashboard-card">
                  <mat-card-header>
                    <!-- <mat-card-title>
                        tradingview
                    </mat-card-title> -->
                  </mat-card-header>
                  <mat-card-content class="dashboard-card-content">

                    <div>
                      <!-- TradingView Widget BEGIN -->
                      <div class="tradingview-widget-container">
                        <div class="tradingview-widget-container__widget"></div>
                        <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/symbols/BTCUSDT/technicals/" rel="noopener" target="_blank"><span class="blue-text">Analisi tecnica su BTCUSDT</span></a> da TradingView</div>

                    </div>
                    <!-- TradingView Widget END -->                      
                    </div>

                  </mat-card-content>
                </mat-card>           
              </mat-grid-tile>            
          </mat-grid-list>
        </mat-expansion-panel>        
      </mat-accordion>
</div>
