.grid-container {
    margin: 20px;
  }
  
  .dashboard-card {
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    opacity: 0.5;
  }
  
  .more-button {
    position: absolute;
    top: 5px;
    right: 10px;
  }
  
  .dashboard-card-content {
    text-align: center;
  }
  
  .dashboard-login-card {
    top: 80%;
    opacity: 0.5;
    max-width: 400px;
    margin: 2em auto;
    text-align: center;
  }
  .bg {
    background: url('/assets/NURAXITECH.png') no-repeat   center center fixed;
    position: fixed; 
    top: 0; 
    left: 0; 
      
    /* Preserve aspect ratio */
    min-width: 100%;
    min-height: 100%;
  }
  